#aboutPanel

	span.fa.fa-remove#closeAbout

	.settingsWrap
		img(src="/imgs/logo.png")#logoIcon
		h3 Clover에 대해
		hr
		p  트럼프에서 클로버는 시민을 뜻합니다.
		hr
		p  Clover Wallet은 개인 혹은 특정 단체가 아닌, 
		p  참여하는 모든 시민을 위한 분산원장을 만들고자 합니다.
		hr

		br
		br
		p 
		span 이용해주셔서 감사합니다. 